[MESSAGES CONTROL]
disable=missing-module-docstring,missing-function-docstring,invalid-name

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_

[TYPECHECK]
ignore-mixin-members=yes

[SIMILARITIES]
ignore-comments=yes